<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="greeting" class="de.mvitz.examples.spring.di.xml.XmlGreeting" />

    <bean id="greeter" class="de.mvitz.examples.spring.di.common.Greeter">
        <constructor-arg>
            <ref bean="greeting" />
        </constructor-arg>
    </bean>

</beans>