<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean id="apiManager" class="de.mvitz.examples.spring.aop.common.DefaultManager" />

    <bean id="apiAdvice" class="de.mvitz.examples.spring.aop.api.ApiAdvice" />

    <aop:config>
            <aop:pointcut id="doesSomething"
                expression="execution(void de.mvitz.examples.spring.aop.common.Manager.doSomething())" />
            <aop:advisor advice-ref="apiAdvice" pointcut-ref="doesSomething" />
    </aop:config>

</beans>